@{
    ViewBag.Title = "Create Student";
}

<h2>Create</h2>
<form action="/Student/Create" method="post">
    <div class="form-group">
        <label>Student Id</label>
        <input type="text" class="form-control" id="txtStudentId" placeholder="Student Id" name="StudentId">
    </div>
    <div class="form-group">
        <label>Student Name</label>
        <input type="text" class="form-control" id="txtStudentName" placeholder="Student Name" name="StudentName">
    </div>
    <div class="form-group">
        <label>D.No</label>
        <input type="text" class="form-control" id="txtDNo" placeholder="D. No" name="DNo">
    </div>
    <div class="form-group">
        <label>Street</label>
        <input type="text" class="form-control" id="txtStreet" placeholder="Street" name="Street">
    </div>
    <div class="form-group">
        <label>Landmark</label>
        <input type="text" class="form-control" id="txtLandmark" placeholder="Landmark" name="Landmark">
    </div>
    <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" id="txtCity" placeholder="City" name="City">
    </div>
    <button class="btn btn-success">Submit</button>
</form>




