@model List<Company.DomainModels.Category>

@{
    ViewBag.Title = "Categories";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage1.cshtml";
}

<h2>Categories</h2>
<table class="table">
    <tr>
        <th>Category ID</th>
        <th>Category Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
        </tr>
    }
</table>



