@{ 
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Learn, Share, Build!</h1>
            <h3>Each month, over 50 million developers come to Stack Overflow to learn, share their knowledge, and build their careers.</h3>
            <p class="lead">Join the world’s largest developer community.</p>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-light">Founded in 2008</div>
            <div class="card-body">
                Founded in 2008, Stack Overflow is the largest, most trusted online community for developers to learn, share their knowledge, and build their careers. More than 50 million professional and aspiring programmers visit Stack Overflow each month to help solve coding problems, develop new skills, and find job opportunities.
            </div> 
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-light">Our Partners</div>
            <div class="card-body">
                Stack Overflow partners with businesses to help them understand, hire, engage, and enable the world's developers. Our products and services are focused on developer marketing, technical recruiting, market research, and enterprise knowledge sharing. Learn more about our business solutions here.
            </div> 
        </div>
    </div>
</div>

<div class="row">
    <div class="'col-sm-12">
        <div class="card">
            <div class="card-header bg-light">Stack Overflow Offices</div>
            <img class="card-img-top" src="~/Images/map.svg" alt="Offices">
            <div class="card-body">
                Stack Overflow currently employs more than 250 people in its head offices in New York, London and Munich as well as remote workers from Israel, Brazil, Japan, Germany, Slovenia, Spain, Poland, France, Russia, Canada, the UK, and the United States. The company is committed to diversity in the workplace and is currently hiring.
            </div> 
        </div>
    </div>
</div>

<script>
    $("a[href='/home/about']").attr("id", "active");
</script>


