@{ 
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-dark text-light">Teams</div>
            <div class="card-body">
                <p>A private, secure home for your team’s questions and answers. Perfect for teams of 10-500 members. No more digging through stale wikis and lost emails—give your team back the time it needs to build better products.</p>
                <a href="#">Learn more</a>
            </div> 
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-dark text-light">Enterprise</div>
            <div class="card-body">
                <p>Stack Overflow for Enterprise is a private, secure home for your organization’s questions and answers. Empower your teams to find and share information without disrupting their workflows.</p>
                <a href="#">Learn more</a>
            </div> 
        </div>
    </div>
</div>


<script>
    $("a[href='/home/contact']").attr("id", "active");
</script>


