@model List<Company.DomainModels.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Products Sale</h2>
<div class="card-group">
    @foreach (var item in Model)
    {
        Html.RenderAction("DisplaySingleProduct", "Products", new { p = item });
    }

</div>


