@model EFDbFirstApproachExample.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Delete Product</h2>
<form action="/products/delete/@Model.ProductID" method="post">
    <table class="table">
        <tr>
            <td>
                <label for="ProductName">Product Name</label>
            </td>
            <td>
                <input type="hidden" name="ProductID" value="@Model.ProductID" />
                @Model.ProductName
            </td>
        </tr>
        <tr>
            <td>
                <label for="Price">Price</label>
            </td>
            <td>
                @Model.Price
            </td>
        </tr>
    </table>

    <div>Are you sure to delete this product?</div>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-danger" href="/products/index">Cancel</a>
</form>

