@using System.Web.Optimization

<html>
    <head>
        <title>Index</title>
        @Scripts.Render("~/bundles/scriptbundle1")
        @Scripts.Render("~/bundles/scriptbundle2")
        @Styles.Render("~/bundles/stylebundle1")
        @Styles.Render("~/bundles/stylebundle2")
    </head>
    <body>
        <h4>Bundling And Minification</h4>
    </body>
</html>


