@{
    ViewBag.Title = "Home";
}

<h2>Home page content here</h2>

@{
    ViewBag.Message = "Welcome to Demo Application";
}

@section SideBarOptions
{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Admin Home</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Agent Home</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Customer Home</a>
}

