@{
    ViewBag.Title = "Details";
}

<h2>Product Details</h2>
<table class="table">
    <tr>
        <th>Product Id</th>
        <td>@ViewBag.MatchingProduct.ProductId</td>
    </tr>
    <tr>
        <th>Product Name</th>
        <td>@ViewBag.MatchingProduct.ProductName</td>
    </tr>
    <tr>
        <th>Rate</th>
        <td>@ViewBag.MatchingProduct.Rate</td>
    </tr>
</table>



