@model List<ModelExample.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>
<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Rate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td><a href="/products/details/@item.ProductId">@item.ProductName </a></td>
                <td>@item.Rate</td>
            </tr>
        }
    </tbody>
</table>




