<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-info navbar-dark">
        <a class="navbar-brand" href="#">Company</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home/index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products/index">Products</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 text-white" style="background-color:#fa8405; min-height:1050px; padding:0px">
                <div class="list-group">
                    <a href="#" class="list-group-item text-white" style="background-color:transparent">Favourites</a>
                    <a href="#" class="list-group-item text-white" style="background-color:transparent">Products</a>
                    <a href="#" class="list-group-item text-white" style="background-color:transparent">Your Orders</a>
                </div>
            </div>
            <div class="col-10" style="min-height:1050px">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>




