@model StackOverflowProject.ViewModels.LoginViewModel

@{ 
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-sm-12">
        <div class="mx-auto login-box" style="width:600px">
            <h4>Login</h4>
            <form action="/account/login" method="post" class="needs-validation" novalidate="novalidate">
                @Html.AntiForgeryToken()
                <div class="form-group mr-3">
                    <label for="email" class="mr-1">Email:</label>
                    <input type="email" class="form-control" id="email" name="Email" required="required" autofocus="autofocus" value="@Model.Email">
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Invalid Email</div>
                </div>

                <div class="form-group mr-3">
                    <label for="pwd" class="mr-1">Password:</label>
                    <input type="password" class="form-control" id="pwd" name="Password" required="required" value="@Model.Password" minlength="6">
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Password must contain at least 6 characters</div>
                </div>

                <button class="btn btn-success">Login</button>
                <div class="text-danger">
                    @Html.ValidationSummary()
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("a[href='/account/login']").attr("id", "active");

    $(document).on("submit", ".needs-validation", validate);
    $(".needs-validation input").blur(validate);
    function validate(event)
    {
        if ($(".needs-validation")[0].checkValidity() == false)
        {
            event.preventDefault();
        }
        $(".needs-validation")[0].classList.add("was-validated");
    }
</script>
