@{
    ViewBag.Title = "About";
}

<h2>About page content here</h2>

@{ 
    ViewBag.Message = "Leading company in the world";
}

@{
    ViewBag.ListTitle = "Products";
    ViewBag.Items = new List<string>() { "Mobiles", "Electronics", "Home Appliances" };
    Html.RenderPartial("ListPartialView");
}

@section SideBarOptions
{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">About Company</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">About Founders</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">About Team</a>
}

