@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>About page content here</h2>

@{
    ViewBag.Message = "Leading company in the world";
}

@section SideBarOptions
{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">About Company</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">About Founders</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">About Team</a>
}




